<!DOCTYPE html>
<html>
<head>
  <title>流程图绘制</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="./element/index.css">
  <style type="text/css"> 
    #label {
        color:white;
    }
    body{
    	margin:0;
    	padding:0;
    }
  </style>
  <style type="text/css" media="screen">
		div.base {
			position: absolute;
			overflow: hidden;
			font-family: Arial;
			font-size: 8pt;
		}
		div.base#graph {
			border-style: solid;
			border-color: #F2F2F2;
			border-width: 1px;
			background: url('images/grid.gif');
		}
	</style>
</head>
<body>
  <div id="app">
    <el-container class="wrapper">
        <el-header
          height="75px"
          :style="{'background-color':head.color}">   
          <el-carousel indicator-position="none" height='75px'>
                <el-carousel-item v-for="item in labels" :key="item">
                    <h2 id="label">{{ item }}</h2>
                </el-carousel-item>
          </el-carousel>   
        </el-header>
        <br/>
        <div>
			<el-button type="primary" size="small" @click="loadFlowData()">刷新</el-button>
			<el-button type="success" size="small" @click="createFlow()">新增</el-button>
			<el-button type="danger" size="small" @click="deleteFlow">删除</el-button>
			<el-button type="warning" size="small" @click="updateFlow">发布</el-button>
	    </div>
        <el-container>
          <el-aside class="menu">
            <el-menu @select="menuItemSelect">
              <el-menu-item :index="flow.flowId" v-for="(flow,id) in flows">{{flow.flowId}}-{{flow.flowName}}</el-menu-item>
            </el-menu>
          </el-aside>
          <el-main class="content">        
<div v-show="showIndex">
	<table id="splash" width="100%" height="100%"
		style="background:white;position:absolute;top:75px;left:0px;z-index:4;">
		<tr>
			<td align="center" valign="middle">
				<img src="images/loading.gif">
			</td>
		</tr>
	</table>
	<div id="graph" class="base">
		<!-- Graph Here -->
	</div>
	<div id="status" class="base" align="right" style="white-space:nowrap;">
		<!-- Status Here -->
	</div> 
</div>
          </el-main>
        </el-container>
    </el-container>
		<el-dialog title="流程信息" :visible.sync="dialogFormVisible">
			<el-form :model="form" :rules="rules" ref="ruleForm">
				<el-form-item
					label="流程名称" label-width="100px" prop="flowName"> 
					<el-input v-model="form.flowName" auto-complete="off">
					</el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="dialogFormVisible = false">取 消</el-button>
				<el-button type="primary" @click="submit">确 定</el-button>
			</div>
		</el-dialog>
	</div>
</body>
  	<script src="./lib/vue.js"></script>
  	<script src="./element/index.js"></script>
  	<script src="./lib/vue-router.js"></script>
  	<script src="./lib/sockjs.min.js"></script>
  	<script src="./lib/stomp.min.js"></script>
  	<script src="./lib/jquery-2.0.2.min.js"></script>	
  	<script type="text/javascript">
		mxBasePath = './src';
  	</script>
	<script type="text/javascript" src="./src/js/mxClient.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
	<script type="text/javascript" src="./js/studio.js"></script>
	<script type="text/javascript">
	var editor;
	mxGraph.prototype.htmlLabels = true;
	mxGraph.prototype.isWrapping = function(cell)
	{
		return true;
	};
	mxConstants.DEFAULT_HOTSPOT = 1;
	mxGraphHandler.prototype.guidesEnabled = true;
    mxGuide.prototype.isEnabledForEvent = function(evt)
    {
    	return !mxEvent.isAltDown(evt);
    };
	mxEdgeHandler.prototype.snapToTerminals = true;
	window.onbeforeunload = function() { return mxResources.get('changesLost'); };
	
	document.body.onload = function(){
		editor = createEditor('config/workfloweditor.xml');
		console.log(editor);
	}
	</script>
	<script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
            systemId:'cmis',
            userId:'admin',
            orgId:'0000',
        	head:{
                color:'#409eff'
            },
            labels:['工作流图形绘制'],
            showIndex:true,
            flows:[],
            dialogFormVisible:false,
            form:{
            	flowName:''
            },
            rules:{
            	flowName: [ { required: true, message: '请输入流程中文名称' }]
            },
            selectedFlowId:'',
            currentFlowContent:''
        }
      },
      methods: { 
        menuItemSelect:function(key) {
        	this.selectedFlowId = key;
        	this.getFlow(key);
        },
        loadFlowData:function(){
        	var _self = this;
        	$.ajax({ url:'/api/nwfflow/?systemId='+_self.systemId+'&userId='+_self.userId, type:'GET', async:false, timeout:5000,dataType:'json',success:function(data,textStatus,jqXHR){
        		_self.flows=data.data;
        		//_self.selectedFlowId = '';
        	},error:function(xhr,textStatus){
        		_self.$message({  type: 'warn', message: '获取流程信息失败' });
        	}});
        },
        createFlow:function(){
        	this.dialogFormVisible = true;
        },
        submit: function(){
        	var _self = this;
        	this.$refs['ruleForm'].validate((valid) => {
          		if (valid) {
          			var data = {};
          			data.systemId = _self.systemId;
          			data.flowAdmin = _self.userId;
          			data.flowName = _self.form.flowName;
          			data.orgId = _self.orgId;
          			this.dialogFormVisible = false;
          			$.ajax({ url:'/api/nwfflow/',headers:{'Content-Type': 'application/json;charset=UTF-8'},data:JSON.stringify(data), type:'POST', async:false, timeout:5000,success:function(data,textStatus,jqXHR){
          				_self.loadFlowData();
          				_self.$message('新增成功');
                	},error:function(xhr,textStatus){
                		_self.$message({  type: 'warn', message: '新增失败' });	
                	}});
          		} else {
            		return false;
          		}
        	});
        },
        deleteFlow: function(){
        	var _self = this;
        	if (_self.selectedFlowId !== '') {
        		this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                  }).then(() => {
                	  $.ajax({ url:'/api/nwfflow/delete/'+_self.selectedFlowId,headers:{'Content-Type': 'application/json;charset=UTF-8'}, type:'POST', async:false, timeout:5000,success:function(data,textStatus,jqXHR){
                			_self.$message('删除成功');	
                			_self.loadFlowData();
                      },error:function(xhr,textStatus){
                    	  this.$message({  type: 'warn', message: '删除失败' });
                      }});
                  }).catch(() => {
                    this.$message({
                      type: 'info',
                      message: '已取消删除'
                    });          
               });
          	} else {
          		_self.$message('选择一条流程图');
          	}
        },
        updateFlow: function(){
        	var _self = this;
        	
        	var encoder = new mxCodec();
    		var node = encoder.encode(window.editor.graph.getModel());
    		var contentStr = mxUtils.getPrettyXml(node)
    		console.info(contentStr);
          	if (_self.selectedFlowId != ""&&contentStr!="") {
          		var data = {};
      			data.systemId = _self.systemId;
      			data.flowAdmin = _self.userId;
      			data.flowId = _self.selectedFlowId;
      			data.flowContent = contentStr;
      			data.orgId = _self.orgId;
      			this.$confirm('此操作将永久更新运行中的此流程, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                  }).then(() => {
                	  $.ajax({ url:'/api/nwfflow/update/',headers:{'Content-Type': 'application/json;charset=UTF-8'}, data:JSON.stringify(data),type:'POST', async:false, timeout:5000,success:function(data,textStatus,jqXHR){
                			_self.$message('更新成功');	
                			_self.loadFlowData();
                      },error:function(xhr,textStatus){
                    	  _self.$message({  type: 'warn', message: '更新失败' });	
                      }});
                  }).catch(() => {
                	  _self.$message({  type: 'info', message: '已取消删除' });          
               });
      			
          	} else {
          		_self.$message('选择一条流程图');
          	}
        },
        getFlow: function(flowId){
        	var _self = this;
          	$.ajax({ url:'/api/nwfflow/'+flowId,headers:{'Content-Type': 'application/json;charset=UTF-8'},type:'GET', async:false, timeout:5000,success:function(data,textStatus,jqXHR){
          			console.info(data.data.flowContent);
          			_self.currentFlowContent = data.data.flowContent;
          			_self.loadXml(_self.currentFlowContent);
            },error:function(xhr,textStatus){
            	_self.$message({  type: 'warn', message: '获取流程图失败' });	 		
            }});
          	
        },
        loadXml:function(xmlfileStr) { 
        	window.editor.graph.removeCells(window.editor.graph.getChildVertices(window.editor.graph.getDefaultParent()));
    	    if(xmlfileStr!=""){
    	       xmlfileStr = "<?xml version='1.0' encoding='utf-8'?>"+xmlfileStr+"";
    	       var doc = mxUtils.parseXml(xmlfileStr);
    	       var dec = new mxCodec(doc);
    	       dec.decode(doc.documentElement, window.editor.graph.getModel());
    	    }
    	}
      },
      mounted: function(){
      	this.loadFlowData();
      }
    }) 
    
    // 节点编辑处理
    function actionDelage(graph,form,attr){
    	console.info(studio);
    	console.log(arguments);
    	debugger
    	if(studio[attr.name]){
    		var node = null;
    		if(studio[attr.name].type == "select"){
    			node = form.addCombo(studio[attr.name].name,false,false);
    			for(var key in studio[attr.name].value) {
    				if(key==attr.value){
        				opt = form.addOption(node,studio[attr.name].value[key],key,true);
    				}else{
        				opt = form.addOption(node,studio[attr.name].value[key],key,false);
    				}
    			}
    			if(studio[attr.name].readOnly){
    				node.setAttribute("disabled", "disabled");
	    		}
    		}else{
    			node = form.addText(studio[attr.name].name, attr.value,studio[attr.name].type);
    			if(studio[attr.name].readOnly){
        			node.setAttribute("readonly", "true");
        		}
    		}   		
    		return node;
    	}
    }
  	</script>
</html>