<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.workflow.repository.mapper.EchainBenchMapper">


    <select id="selectInstanceId" parameterType="string" resultType="string">
      select t.instanceid from WF_INSTANCE_WHOLE_PROPERTY t where t.bizseqno = #{bizNo,jdbcType=VARCHAR}
    </select>
	
	<delete id="deleteWorkflowInfo" parameterType="string">
	    begin
		DELETE FROM WF_INSTANCE_END where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_INSTANCE_NODE_PROPERTY where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_INSTANCE_WHOLE_PROPERTY where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_MAIN_RECORD where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_MAIN_RECORDEND where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_NODE_ACTION_RECORD where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_NODE_ACTION_RECORDEND where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_NODE_RECORD where instanceid = #{instanceid,jdbcType=VARCHAR};
		DELETE FROM WF_NODE_RECORDEND where instanceid = #{instanceid,jdbcType=VARCHAR};
		end;
	</delete>
</mapper>