<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.workflow.repository.mapper.NWfCommentHisMapper">
  <resultMap id="BaseResultMap" type="cn.com.yusys.yusp.workflow.domain.NWfCommentHis">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="COMMENT_ID" jdbcType="VARCHAR" property="commentId" />
    <result column="INSTANCE_ID" jdbcType="VARCHAR" property="instanceId" />
    <result column="NODE_ID" jdbcType="VARCHAR" property="nodeId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="COMMENT_SIGN" jdbcType="VARCHAR" property="commentSign" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="NODE_LEVEL" jdbcType="NUMERIC" property="nodeLevel" />
    <result column="USER_COMMENT" jdbcType="VARCHAR" property="userComment" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="NODE_NAME" jdbcType="VARCHAR" property="nodeName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    COMMENT_ID, INSTANCE_ID, NODE_ID, USER_ID, COMMENT_SIGN, START_TIME, NODE_LEVEL, 
    USER_COMMENT, USER_NAME, NODE_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from N_WF_COMMENT_HIS
    where COMMENT_ID = #{commentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
    -->
    delete from N_WF_COMMENT_HIS
    where COMMENT_ID = #{commentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.yusys.yusp.workflow.domain.NWfCommentHis">
    <!--
      WARNING - @mbg.generated
    -->
    insert into N_WF_COMMENT_HIS (COMMENT_ID, INSTANCE_ID, NODE_ID, 
      USER_ID, COMMENT_SIGN, START_TIME, 
      NODE_LEVEL, USER_COMMENT, USER_NAME, 
      NODE_NAME)
    values (#{commentId,jdbcType=VARCHAR}, #{instanceId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{commentSign,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{nodeLevel,jdbcType=NUMERIC}, #{userComment,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{nodeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yusys.yusp.workflow.domain.NWfCommentHis">
    <!--
      WARNING - @mbg.generated
    -->
    insert into N_WF_COMMENT_HIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        COMMENT_ID,
      </if>
      <if test="instanceId != null">
        INSTANCE_ID,
      </if>
      <if test="nodeId != null">
        NODE_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="commentSign != null">
        COMMENT_SIGN,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="nodeLevel != null">
        NODE_LEVEL,
      </if>
      <if test="userComment != null">
        USER_COMMENT,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="nodeName != null">
        NODE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commentSign != null">
        #{commentSign,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="nodeLevel != null">
        #{nodeLevel,jdbcType=NUMERIC},
      </if>
      <if test="userComment != null">
        #{userComment,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yusys.yusp.workflow.domain.NWfCommentHis">
    <!--
      WARNING - @mbg.generated
    -->
    update N_WF_COMMENT_HIS
    <set>
      <if test="instanceId != null">
        INSTANCE_ID = #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        NODE_ID = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commentSign != null">
        COMMENT_SIGN = #{commentSign,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="nodeLevel != null">
        NODE_LEVEL = #{nodeLevel,jdbcType=NUMERIC},
      </if>
      <if test="userComment != null">
        USER_COMMENT = #{userComment,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      </if>
    </set>
    where COMMENT_ID = #{commentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yusys.yusp.workflow.domain.NWfCommentHis">
    <!--
      WARNING - @mbg.generated
    -->
    update N_WF_COMMENT_HIS
    set INSTANCE_ID = #{instanceId,jdbcType=VARCHAR},
      NODE_ID = #{nodeId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      COMMENT_SIGN = #{commentSign,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=VARCHAR},
      NODE_LEVEL = #{nodeLevel,jdbcType=NUMERIC},
      USER_COMMENT = #{userComment,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR}
    where COMMENT_ID = #{commentId,jdbcType=VARCHAR}
  </update>
  <select id="selectByModel" parameterType="cn.com.yusys.yusp.workflow.domain.dto.QueryModel" resultMap="BaseResultMap">
    SELECT * FROM N_WF_COMMENT_HIS
    <where>
      <if test="condition.commentId !=null and condition.commentId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.commentId)">
             AND COMMENT_ID LIKE #{condition.commentId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND COMMENT_ID = #{condition.commentId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.instanceId !=null and condition.instanceId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.instanceId)">
             AND INSTANCE_ID LIKE #{condition.instanceId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND INSTANCE_ID = #{condition.instanceId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.nodeId !=null and condition.nodeId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.nodeId)">
             AND NODE_ID LIKE #{condition.nodeId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND NODE_ID = #{condition.nodeId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.userId !=null and condition.userId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.userId)">
             AND USER_ID LIKE #{condition.userId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND USER_ID = #{condition.userId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.commentSign !=null and condition.commentSign !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.commentSign)">
             AND COMMENT_SIGN LIKE #{condition.commentSign,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND COMMENT_SIGN = #{condition.commentSign,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.startTime !=null and condition.startTime !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.startTime)">
             AND START_TIME LIKE #{condition.startTime,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND START_TIME = #{condition.startTime,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.nodeLevel !=null and condition.nodeLevel !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.nodeLevel)">
             AND NODE_LEVEL LIKE #{condition.nodeLevel,jdbcType=NUMERIC}
          </when>
          <otherwise>
            AND NODE_LEVEL = #{condition.nodeLevel,jdbcType=NUMERIC}
          </otherwise>
        </choose>
      </if>
      <if test="condition.userComment !=null and condition.userComment !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.userComment)">
             AND USER_COMMENT LIKE #{condition.userComment,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND USER_COMMENT = #{condition.userComment,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.userName !=null and condition.userName !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.userName)">
             AND USER_NAME LIKE #{condition.userName,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND USER_NAME = #{condition.userName,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.nodeName !=null and condition.nodeName !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.nodeName)">
             AND NODE_NAME LIKE #{condition.nodeName,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND NODE_NAME = #{condition.nodeName,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      ${dataAuth}
    </where>
    <if test="sort != null">
      order by ${sort}
    </if>
  </select>
  <delete id="deleteByIds" parameterType="java.lang.String">
    DELETE FROM N_WF_COMMENT_HIS WHERE COMMENT_ID IN
    <foreach close=")" collection="@cn.com.yusys.yusp.workflow.util.OGNLUtil@toList('java.lang.String',_parameter)" item="id" open="(" separator=",">
      #{id,jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>