<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.workflow.repository.mapper.NWfProcessMapper">
  <resultMap id="BaseResultMap" type="cn.com.yusys.yusp.workflow.domain.NWfProcess">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PK_ID" jdbcType="VARCHAR" property="pkId" />
    <result column="INSTANCE_ID" jdbcType="VARCHAR" property="instanceId" />
    <result column="NODE_ID" jdbcType="VARCHAR" property="nodeId" />
    <result column="NODE_NAME" jdbcType="VARCHAR" property="nodeName" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="LAST_NODE_ID" jdbcType="VARCHAR" property="lastNodeId" />
    <result column="LAST_NODE_NAME" jdbcType="VARCHAR" property="lastNodeName" />
    <result column="NODE_LEVEL" jdbcType="NUMERIC" property="nodeLevel" />
    <result column="NODE_TYPE" jdbcType="VARCHAR" property="nodeType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    PK_ID, INSTANCE_ID, NODE_ID, NODE_NAME, START_TIME, LAST_NODE_ID, LAST_NODE_NAME, 
    NODE_LEVEL, NODE_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from N_WF_PROCESS
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
    -->
    delete from N_WF_PROCESS
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.yusys.yusp.workflow.domain.NWfProcess">
    <!--
      WARNING - @mbg.generated
    -->
    insert into N_WF_PROCESS (PK_ID, INSTANCE_ID, NODE_ID, 
      NODE_NAME, START_TIME, LAST_NODE_ID, 
      LAST_NODE_NAME, NODE_LEVEL, NODE_TYPE
      )
    values (#{pkId,jdbcType=VARCHAR}, #{instanceId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, 
      #{nodeName,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{lastNodeId,jdbcType=VARCHAR}, 
      #{lastNodeName,jdbcType=VARCHAR}, #{nodeLevel,jdbcType=NUMERIC}, #{nodeType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yusys.yusp.workflow.domain.NWfProcess">
    <!--
      WARNING - @mbg.generated
    -->
    insert into N_WF_PROCESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        PK_ID,
      </if>
      <if test="instanceId != null">
        INSTANCE_ID,
      </if>
      <if test="nodeId != null">
        NODE_ID,
      </if>
      <if test="nodeName != null">
        NODE_NAME,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="lastNodeId != null">
        LAST_NODE_ID,
      </if>
      <if test="lastNodeName != null">
        LAST_NODE_NAME,
      </if>
      <if test="nodeLevel != null">
        NODE_LEVEL,
      </if>
      <if test="nodeType != null">
        NODE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="lastNodeId != null">
        #{lastNodeId,jdbcType=VARCHAR},
      </if>
      <if test="lastNodeName != null">
        #{lastNodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeLevel != null">
        #{nodeLevel,jdbcType=NUMERIC},
      </if>
      <if test="nodeType != null">
        #{nodeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yusys.yusp.workflow.domain.NWfProcess">
    <!--
      WARNING - @mbg.generated
    -->
    update N_WF_PROCESS
    <set>
      <if test="instanceId != null">
        INSTANCE_ID = #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        NODE_ID = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="lastNodeId != null">
        LAST_NODE_ID = #{lastNodeId,jdbcType=VARCHAR},
      </if>
      <if test="lastNodeName != null">
        LAST_NODE_NAME = #{lastNodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeLevel != null">
        NODE_LEVEL = #{nodeLevel,jdbcType=NUMERIC},
      </if>
      <if test="nodeType != null">
        NODE_TYPE = #{nodeType,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yusys.yusp.workflow.domain.NWfProcess">
    <!--
      WARNING - @mbg.generated
    -->
    update N_WF_PROCESS
    set INSTANCE_ID = #{instanceId,jdbcType=VARCHAR},
      NODE_ID = #{nodeId,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=VARCHAR},
      LAST_NODE_ID = #{lastNodeId,jdbcType=VARCHAR},
      LAST_NODE_NAME = #{lastNodeName,jdbcType=VARCHAR},
      NODE_LEVEL = #{nodeLevel,jdbcType=NUMERIC},
      NODE_TYPE = #{nodeType,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByModel" parameterType="cn.com.yusys.yusp.workflow.domain.dto.QueryModel" resultMap="BaseResultMap">
    SELECT * FROM N_WF_PROCESS
    <where>
      <if test="condition.pkId !=null and condition.pkId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.pkId)">
             AND PK_ID LIKE #{condition.pkId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND PK_ID = #{condition.pkId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.instanceId !=null and condition.instanceId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.instanceId)">
             AND INSTANCE_ID LIKE #{condition.instanceId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND INSTANCE_ID = #{condition.instanceId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.nodeId !=null and condition.nodeId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.nodeId)">
             AND NODE_ID LIKE #{condition.nodeId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND NODE_ID = #{condition.nodeId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.nodeName !=null and condition.nodeName !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.nodeName)">
             AND NODE_NAME LIKE #{condition.nodeName,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND NODE_NAME = #{condition.nodeName,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.startTime !=null and condition.startTime !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.startTime)">
             AND START_TIME LIKE #{condition.startTime,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND START_TIME = #{condition.startTime,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.lastNodeId !=null and condition.lastNodeId !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.lastNodeId)">
             AND LAST_NODE_ID LIKE #{condition.lastNodeId,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND LAST_NODE_ID = #{condition.lastNodeId,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.lastNodeName !=null and condition.lastNodeName !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.lastNodeName)">
             AND LAST_NODE_NAME LIKE #{condition.lastNodeName,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND LAST_NODE_NAME = #{condition.lastNodeName,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      <if test="condition.nodeLevel !=null and condition.nodeLevel !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.nodeLevel)">
             AND NODE_LEVEL LIKE #{condition.nodeLevel,jdbcType=NUMERIC}
          </when>
          <otherwise>
            AND NODE_LEVEL = #{condition.nodeLevel,jdbcType=NUMERIC}
          </otherwise>
        </choose>
      </if>
      <if test="condition.nodeType !=null and condition.nodeType !=''">
        <choose>
          <when test="@cn.com.yusys.yusp.workflow.util.OGNLUtil@like(condition.nodeType)">
             AND NODE_TYPE LIKE #{condition.nodeType,jdbcType=VARCHAR}
          </when>
          <otherwise>
            AND NODE_TYPE = #{condition.nodeType,jdbcType=VARCHAR}
          </otherwise>
        </choose>
      </if>
      ${dataAuth}
    </where>
    <if test="sort != null">
      order by ${sort}
    </if>
  </select>
  <delete id="deleteByIds" parameterType="java.lang.String">
    DELETE FROM N_WF_PROCESS WHERE PK_ID IN
    <foreach close=")" collection="@cn.com.yusys.yusp.workflow.util.OGNLUtil@toList('java.lang.String',_parameter)" item="id" open="(" separator=",">
      #{id,jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>