<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yusys.yusp.workflow.repository.mapper.WorkflowCoreMapper">
  <resultMap id="BaseResultMap" type="cn.com.yusys.yusp.workflow.dto.result.ResultInstanceDto">
    <result column="INSTANCE_ID" jdbcType="VARCHAR" property="instanceId" />
    <result column="FLOW_NAME" jdbcType="VARCHAR" property="flowName" />
    <result column="FLOW_ID" jdbcType="VARCHAR" property="flowId" />
    <result column="FLOW_ADMIN" jdbcType="VARCHAR" property="flowAdmin" />
    <result column="FLOW_STARTER" jdbcType="VARCHAR" property="flowStarter" />
    <result column="FLOW_STARTER_NAME" jdbcType="VARCHAR" property="flowStarterName" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="FLOW_STATE" jdbcType="VARCHAR" property="flowState" />
    <result column="BIZ_ID" jdbcType="VARCHAR" property="bizId" />
    <result column="BIZ_USER_NAME" jdbcType="VARCHAR" property="bizUserName" />
    <result column="BIZ_USER_ID" jdbcType="VARCHAR" property="bizUserId" />
    <result column="FLOW_PARAM" jdbcType="VARCHAR" property="flowParam" />
    <result column="NODE_ID" jdbcType="VARCHAR" property="nodeId" />
    <result column="NODE_SIGN" jdbcType="VARCHAR" property="nodeSign" />
    <result column="NODE_NAME" jdbcType="VARCHAR" property="nodeName" />
    <result column="NODE_STATE" jdbcType="VARCHAR" property="nodeState" />
    <result column="LAST_NODE_ID" jdbcType="VARCHAR" property="lastNodeId" />
    <result column="LAST_NODE_NAME" jdbcType="VARCHAR" property="lastNodeName" />
  </resultMap>
  
  <select id="getInstanceInfo" parameterType="string" resultMap="BaseResultMap">
   select t1.INSTANCE_ID,
       t1.FLOW_NAME,
       t1.FLOW_ID,
       t1.FLOW_ADMIN,
       t1.FLOW_STARTER,
       t1.FLOW_STARTER_NAME,
       t1.SYSTEM_ID,
       t1.FLOW_STATE,
       t1.BIZ_ID,
       t1.BIZ_USER_NAME,
       t1.BIZ_USER_ID,
       t1.FLOW_PARAM,
       t2.node_id,
       t2.node_sign,
       t2.node_name,
       t2.last_node_id,
       t2.last_node_name,
       t2.node_state,
       t2.start_time,
       t2.org_id
  from N_WF_INSTANCE t1 
  left join N_WF_NODE t2
    on t1.instance_id = t2.instance_id 
    where t2.instance_id = #{instanceId,jdbcType=VARCHAR} and t2.node_id= #{nodeId,jdbcType=VARCHAR}   
  </select>
  
  <select id="getNodeUsers" parameterType="string" resultType="string">
     select t.user_id from N_WF_USER_TODO t where t.instance_id = #{instanceId,jdbcType=VARCHAR} and t.node_id = #{nodeId,jdbcType=VARCHAR}
  </select>
  
  <update id="updateUserTodoByInstanceidNodeid" parameterType="cn.com.yusys.yusp.workflow.domain.NWfUserTodo">
    update N_WF_USER_TODO
    <set>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="lastUserId != null">
        LAST_USER_ID = #{lastUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastUserName != null">
        LAST_USER_NAME = #{lastUserName,jdbcType=VARCHAR},
      </if>
      <if test="signIn != null">
        SIGN_IN = #{signIn,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        USER_LEVEL = #{userLevel,jdbcType=NUMERIC},
      </if>
    </set>
    where INSTANCE_ID = #{instanceId,jdbcType=VARCHAR}
    and NODE_ID = #{nodeId,jdbcType=VARCHAR}
  </update>
</mapper>